
.circ{
	width:30px;
	height:30px;
	border-radius: 30px;
	background-color: red;
	text-align: center;
	line-height: 1.8;
}


#wrap_for_draw{
height:460px;
width:460px;
position: relative;/*
margin-left: 170px;
float:left;*/
display:inline;
}

.g{
	width:30px;
	height:2px;
	background-color: black;
	margin-top:15px;
}

.v{
	width:2px;
	height:30px;
	background-color: black;
	margin-left:15px;
}

.arr1,.arr2,.arr3,.arr4{
	width:30px;
	height:30px;
}

.directionRight{
		width: 0; height: 0; border-top: 5px solid transparent; border-left: 10px solid black; border-bottom: 5px solid transparent;
		margin-left: 23px;
		position: absolute;
		margin-top: -4px;
}

.directionTop{
	width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 10px solid black;
	margin-left: -4px;
	position: absolute;
}

.directionLeft{
	border-top: 5px solid transparent; border-right: 10px solid black; border-bottom: 5px solid transparent;
			margin-right: 23px;
		position: absolute;
		margin-top: -4px;
}

.directionBottom{
		width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 10px solid black;
		margin-left: -4px;
		position: absolute;
		margin-top: 23px;
}

.chast{
	width:30px;
	height:30px;
	border-radius: 30px;
}

#vivod{
	width:300px;
	height:700px;
	float:right;


	margin-top: 100px;
margin-right: 100px;
}
#vivod2{
	width:300px;
	height:700px;
	float:right;
}

.wr{
	height: 70px;
	width:150px;
	/*float:left;*/
}


#container{
	margin-right:0;
	position: relative;
	height: 300px;
	float:right;
}
#container1{
	position: relative;
	height: 300px;
	float:right;
	width:600px;
}
#container2{
	margin-left:515px;
	position: relative;
	height: 300px;
	float:right;
}
.col{
	float:left;
	margin-right: 30px;
	height:1000px;
}

.d_path{
margin-left:465px;
display: inline-block;
}
.dl_path{
display: inline-block;
}

.sh{
	width:800px;
	margin:0 auto;
}

.sh .input_cl,#gen{
	display:inline-block;
}

.input_cl{
    position:relative;
    width:150px;
}

.input_help{
    display:none;
    margin-left:-9px;
    padding:7px;
    margin-top:36px;
    height:10px;
    font-size:12px;
}
.help-1{
    margin-top:67px;
}

.help-2{
    margin-top:34px;
}

.input_cl:hover .input_help{
    display:block;
    position:absolute;
    top:17px;
    z-index:1;
    width:400px;
}

#clear{
	clear:both;
}

.desc{
	margin-left: 200px;
	margin-top: -112px;
	padding:15px;
	background:grey;
	width:200px;
	height:100%;
}
